# Swift Format configuration file

--allman false
--maxwidth 160
--wraparguments before-first 
--wrapparameters before-first
--ifdef no-indent
--disable enumNamespaces
--decimalgrouping none
--header "//\n//  Copyright © {year} Jesús Alfredo Hernández Alarcón. All rights reserved.\n//"
